<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    B2B Support<br>
    <span style="COLOR: rgb(153,153,153)">----------------------------------------------------</span><br>
    <span style="FONT-FAMILY: 'Times New Roman',Times,serif,Arial,sans-serif; LETTER-SPACING: 2px; COLOR: rgb(51,51,51); FONT-SIZE: 18px; FONT-WEIGHT: bold">N</span><span
      style="FONT-FAMILY: 'Times New Roman',Times,serif,Arial,sans-serif; LETTER-SPACING: 2px; COLOR:
      rgb(51,51,51); FONT-SIZE: 12px; FONT-WEIGHT: bold">AVIGATOR</span>
    <span style="FONT-FAMILY: 'Trebuchet MS',Arial,sans-serif;
      LETTER-SPACING: 1px; COLOR: rgb(51,51,51); FONT-SIZE: 10px">:: ICT ENGINEERING SERVICES ::</span><br>
    <span style="LINE-HEIGHT: 16px; FONT-FAMILY: 'Trebuchet MS',Arial,sans-serif; LETTER-SPACING: 1px; COLOR: rgb(51,51,51);
      FONT-SIZE: 9px"><strong> W:</strong> <a style="PADDING-BOTTOM: 0pt; MARGIN: 0pt; PADDING-LEFT: 0pt; PADDING-RIGHT: 0pt; COLOR:
        rgb(0,139,171); TEXT-DECORATION: underline; PADDING-TOP: 0pt"
        href="http://www.navigator.rs" target="_blank">www.navigator.rs</a><br>
      <strong>A:</strong> Zrenjaninski put 8, 21000 Novi Sad,<br>
      <strong>A:</strong> Republic Of Serbia<br>
      <strong>T:</strong> +381 (0)21 489-15-00<br>
      <strong>F:</strong> +381 (0)21 489-15-05 </span><br>
    <span style="COLOR: rgb(153,153,153)">----------------------------------------------------</span><br>
<table style="width:350px">
  <tr>
    <td style="width:230px">  <span style="LINE-HEIGHT: 16px; FONT-FAMILY: 'Trebuchet MS',Arial,sans-serif; LETTER-SPACING: 1px; COLOR: rgb(51,51,51);
      FONT-SIZE: 9px"><strong> W:</strong> <a style="PADDING-BOTTOM: 0pt; MARGIN: 0pt; PADDING-LEFT: 0pt; PADDING-RIGHT: 0pt; COLOR:
        rgb(0,139,171); TEXT-DECORATION: underline; PADDING-TOP: 0pt"
        href="http://www.navigator.rs" target="_blank">www.navigator.rs</a><br>
      <strong>A:</strong> Zrenjaninski put 8, 21000 Novi Sad,<br>
      <strong >A:</strong> Republic Of Serbia<br>
      <strong>T:</strong> +381 (0)21 489-15-00<br>
      <strong>F:</strong> +381 (0)21 489-15-05 </span> </td>
 
    <td>Test</td>

  </tr>
</table>
</html>
